/* App.css */
body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 50px;
}

.ui.segment {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-top: 2px;
}

.segment:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Green dominant color */
h1 {
    color: rgba(0, 0, 0, 0.66);
}

.ui.search .prompt {
    border-color: #4caf50;
}

.ui.search .results .result:hover {
    background-color: rgba(76, 175, 80, 0.19);
    color: white;
}

.profile-picture {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-color: #4caf50;
    border-style: solid;
    user-select: none;
    pointer-events: none
}

.twitter-icon {
    color: green;
    transition: 0.3s;
    text-shadow: none;
}

.twitter-icon:hover {
    color: darkgreen;
    text-shadow: 0 0 15px rgba(0, 255, 0, 0.7), 0 0 25px rgba(0, 255, 0, 0.6), 0 0 35px rgba(0, 255, 0, 0.5), 0 0 45px rgba(0, 255, 0, 0.4);
}